.app-ui-jewel {  
  background: -webkit-gradient(linear, left top, left bottom, from(#738ABA), to(#2C4987));
  border-bottom: solid 1px #666;
  border-color: #111A33;
  box-shadow: inset 0 1px 1px -1px white;
  height: 44px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;
}

.app-ui-jewel_center {  
  box-align: center;
  box-orient: horizontal;
  box-pack: center;
  display: -webkit-box;
  height: 100%;
  margin: auto;
  text-align: center;
  width: 200px;
}

.app-ui-jewel_icon {  
  background-size: 401px 216px;
  background: url(/images/sprites1.png) 0 0 no-repeat;
  display: inline-block;
  height: 26px;
  margin: 0 10px;
  vertical-align: middle;
  width: 30px;
}

.app-ui-jewel_freind-requests {  
  background-position: -279px -159px;
  height: 26px;
  width: 30px;
}

.app-ui-jewel_inbox {  
  background-position: -31px -159px;
  height: 26px;
  width: 30px;
}

.app-ui-jewel_notification {  
  background-position: -155px -159px;
  height: 26px;
  width: 30px;
}
