.app-ui-scene-newsfeed {
  background: #fff;
  width: 100%;
}

.app-ui-scene-newsfeed > .jog-ui-loading-indicator {
  display: block;
  left: 50%;
  margin: 0 0 0 -2em;
  position: absolute;
  top: 50%;
}

.app-ui-scene-newsfeed > .jog-ui-scrolllist {
  top: 44px;
  z-index: 1;
}
