.app-ui-scene-cover {
  background: -webkit-radial-gradient(center, ellipse cover, rgba(108, 159, 201, 1) 0%, rgba(30, 87, 153, 1) 100%);
  box-align: center;
  box-orient: vertical;
  box-pack: center;
  color: #fff;
  display: -webkit-box;
  font-size: 36px;
  font-weight: bold;
  text-shadow: #222 0 0 3px;
}

.app-ui-scene-cover_ready {
  background: #fff;
}

.app-ui-scene-cover .jog-ui-loading-indicator {
  margin: 20px auto 0 auto;
}