.app-ui-jewelbar {  
  background: -webkit-gradient(linear, left top, left bottom, from(#738ABA), to(#2C4987));
  border-bottom: solid 1px #666;
  border-color: #111A33;
  box-shadow: inset 0 1px 1px -1px white;
  height: 44px;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  white-space: nowrap;
  z-index: 1000;
}

.app-ui-jewelbar_center {  
  display: inline-block;
  height: 100%;
  margin: auto;
  text-align: center;
  width: 160px;
}

.app-ui-jewelbar_icon {  
  background-size: 401px 216px;
  display: inline-block;
  height: 26px;
  margin: 10px;
  vertical-align: middle;
  width: 30px;
}

.app-ui-jewelbar_sidemenu {  
  left: 0;
  position: absolute;
  top: 0;
}

.app-ui-jewelbar_back {  
  background-image: -webkit-gradient(linear, left top, left bottom, from(#738ABA), to(#2C4987));
  border-radius: 5px;
  border: solid 1px rgba(79, 79, 79, 0.75);
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.3);
  color: #fff;
  display: inline-block;
  font-family: arial;
  font-size: 24px;
  font-weight: bold;
  height: 30px;
  left: 8px;
  line-height: 26px;
  padding: 0 12px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  text-shadow: -1px -1px 1px #000;
  top: 7px;
}