.app-ui-scene-profile_content {  
  padding: 44px 0;
  position: relative;
}

.app-ui-scene-profile_cover {  
  background: #000;
  height: 250px;
  margin-bottom: -60px;
  width: 100%;
}

.app-ui-scene-profile_content-img {  
  background: #000;
  border: solid 10px #fff;
  box-shadow: 0 0 5px #aaa;
  display: block;
  height: 110px;
  margin: 8px 0 0 8px;
  position: relative;
  width: 110px;
}

.app-ui-scene-profile_content-name {  
  bottom: 0;
  font-size: 1.2em;
  font-weight: bold;
  left: 128px;
  line-height: 140%;
  margin-bottom: -30px;
  padding: 10px 10px;
  position: relative;
  text-align: left;
  top: -58px;
  width: 330px;
  word-wrap: break-word;
}

.app-ui-scene-profile_friends-tab {  
  margin: 8px;
}

.app-ui-scene-profile_friend-pile {  
  display: inline-block;
  height: 48px;
  margin: 0 1px 1px 0;
  width: 48px;
}