.app-ui-scene-profile_content {  
  padding: 56px 10px;
  position: relative;
}

.app-ui-scene-profile_cover {  
  background: #000;
  height: 250px;
  margin-bottom: -120px;
  width: 100%;
}

.app-ui-scene-profile_content-img {  
  background: #000;
  border: solid 10px #aaa;
  display: block;
  height: 110px;
  position: relative;
  width: 110px;
}

.app-ui-scene-profile_content-name {  
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  color: #fff;
  font-weight: bold;
  left: 0;
  line-height: 140%;
  margin-bottom: -30px;
  padding: 10px 10px;
  position: relative;
  text-align: left;
  text-shadow: 0 0 2px #000;
  top: -38px;
}