.app-ui-fullview-photos {  
  background: #000;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100000;
}

.app-ui-fullview-photos_body {  
  height: 100%;
  white-space: nowrap;
  width: 100%;
  z-index: 2;
}

.app-ui-fullview-photos-page {  
  display: inline-block;
  height: 100%;
  position: relative;
  vertical-align: middle;
  width: 100%;
}

.app-ui-fullview-photos-image {  
  
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
  position: absolute;
  width: 100%;
}
