.app-ui-scene-profile-profile-tabs {
  background: #fff;
  min-height: 96px;
}

.app-ui-scene-profile-profile-tabs_body {
  display: -webkit-box;
  padding: 8px;
}

.app-ui-scene-profile-profile-tabs_tab {
  background: #fff;
  margin: 0 8px 0 0;
  width: 84px;
}

.app-ui-scene-profile-profile-tabs_tab-body {
  border: solid 1px #f0f0f0;
  height: 56px;
  line-height: 0;
  width: 84px;
}

.app-ui-scene-profile-profile-tabs_tab-label {
  color: #7F848B;
  font-size: 12px;
  font-weight: bold;
  overflow: hidden;
  padding: 5px 0;
  text-align: center;
  text-overflow: ellipsis;
  width: 84px;
}

.app-ui-scene-profile-profile-tabs_facepile {
  background: #fefefe;
  display: inline-block;
  height: 28px;
  width: 28px;
}